{% extends 'base.html.twig' %}

{% block body %}
<p> l'inscription est faite!</p><div id="root"></div>

{% endblock %}
  {% block javascripts %}
        {{ encore_entry_script_tags('app1') }}

    {% endblock %} 