
{% extends 'base.html.twig' %}
{% block body %}

<h1 class="titre text-center my-5">Déclaration d’accessibilité</h1>
<div class="d-flex justify-content-center">
    <div class="col-8 textFooter my-3">
        Green Village s’engage à rendre son site internet accessible à tous, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.<br><br>

        <p class="sousSousTitre text-center">Déclaration d’accessibilité</p>

        Cette déclaration d’accessibilité s’applique au site GreenVillage.com.<br><br>

        <p class="sousSousTitre text-center">État de conformité</p>

        Actuellement, le site n’est pas conforme aux règles d’accessibilité des contenus web (RGAA) pour les raisons suivantes :<br><br>

        <p class="sousSousTitre text-center">Non-conformités</p>

        Pas de conformité globale évaluée : un audit de conformité RGAA n’a pas encore été réalisé.

        Absence de fonctionnalités spécifiques : le site ne propose pas d’outils tels que l’ajustement de la taille du texte ou le mode contraste élevé.<br><br>

        <p class="sousSousTitre text-center">Points d’amélioration présents</p>

        Alternatives multimédias disponibles : le site propose des textes de remplacement pour les images et des sous-titres pour les vidéos.

        Compatibilité avec les lecteurs d’écran : testé et fonctionnel avec ces outils.

        Mécanisme de signalement actif : les utilisateurs peuvent signaler des problèmes d’accessibilité.<br><br>

        <p class="sousSousTitre text-center">Plan d’amélioration</p>

        Green Village dispose d’un plan d’amélioration continue en matière d’accessibilité. Nous prévoyons de :

        Effectuer un audit RGAA avant fin 2025.

        Déployer des fonctionnalités spécifiques pour améliorer l’accessibilité (par exemple, le mode contraste élevé).<br><br>

        <p class="sousSousTitre text-center">Assistance et contact</p>

        Si vous rencontrez des difficultés pour accéder à certains contenus du site, veuillez nous contacter :

        Responsable de l’accessibilité : Sara Dosana

        Adresse e-mail : contact@greenvillage.com<br><br>

        <p class="sousSousTitre text-center">Voie de recours</p>

        Si vous constatez un manquement à l’accessibilité vous empêchant d’accéder à un contenu ou à une fonctionnalité du site, vous pouvez :

        Envoyer un e-mail à notre équipe d’accessibilité.<br><br>

        Recourir à un médiateur si la réponse obtenue n’est pas satisfaisante. Plus d’informations sur service-public.fr.<br><br>

        <p class="sousSousTitre text-center">Date de mise à jour</p>

        Cette déclaration d’accessibilité a été mise à jour le 13 décembre 2024.
    </div>
</div>
{% endblock %}