{% extends 'base.html.twig' %}
{% block body %}

<h1 class="titre my-5 text-center">Contacts</h1>
<div class="d-flex justify-content-center my-3">
    <p class="textFooter sousSousTitre ">
        Conseil et commande par téléphone :<br>
        Du lundi au vendredi de 9:00 à 18:00 
        Samedi de 10:00 à 18:00<br><br>
        France Métropolitaine :
        01 88 88 03 03 <br><br>
        Belgique, Suisse, International
        +33 2 88 88 88 74<br><br>
        Suivi de commande et SAV :<br>
        Contactez-nous depuis votre compte client
    </p>
</div>

{% endblock %}