{% extends 'base.html.twig' %}
{% block body %}
<h1 class="titre text-center my-5">Mentions Légales</h1>

<div class="d-flex justify-content-center ">
    <p class="textFooter sousSousTitre mt-5 col-5">
        Adresse : GreenVillage.com - 156 rue de Milan 44470 Thouaré-sur-Loire<br><br>

        Tel : 02 88 88 88 40 (appel gratuit depuis un poste fixe en France métropolitaine)<br><br>

        Numéro du registre du commerce et des sociétés : RCS Nantes 882 128 298 - APE 4759B<br><br>

        Numéro d'identification T.V.A. : FR 88 488 128 298<br><br>

        S.A.S. au capital social de : 5.600.000 €.<br><br>

        Adresse de contact : contact@GreenVillage.com<br><br>
    </p>
</div>
{% endblock %}