{% extends 'base.html.twig' %}


{% block body %}
<div class="container-fluid d-flex">
<img class="img-fluid d-flex-fill " src="{{ asset('image/logo.png')}}">
<h1 class="d-flex-fill fw-bold villageGreen">Village Green</h1>
</div>

{% endblock %}
