body {
    background-color: #213131;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}
/* a{
    text-decoration: none;
} */
/* HEADER */
.logo{
    width:12%
}
.greenVillage{
    text-shadow: #d3ebd9 1px 0 10px;
    color:  #749a7e;
    font-size: 10rem; 
    font-weight: 900;

}
.pasDeDeco{
    text-decoration: none;

}
.searchbar{
    background-color: #152927;
    border-color: #152927;
    font-style: #749a7e;
    color: #749a7e;
    border-radius: 140px 140px 140px 140px / 140px 140px 140px 140px;
}
.tailleSearchBar{
    width:47%;
}

/* input::placeholder{
color:#749a7e;
opacity:5;
} */


/* HEADER ET FOOTER */

.navbar{
    background-color:black;
}
.navbar-brand{
    color:#749a7e;
    font-weight: 900;
    font-size:x-large;
}
/*hover: effet quand on passe la sourie par dessus */
.navbar-brand:hover{
    color:#749a7e;
    transition: transform .1s;
    font-size: xx-large;
}
/* .slide{
    height:25%;
    clip-path: polygon(100% 0%, 100% 25%, 0% 25%, 0% 0%);
} */

/* ACCUEIL */

 .titreRubrique{
color:#749a7e ;
font-weight: 900;
 }
 .titreSousRubrique{
    color:#749a7e;
    font-weight: 900;
    font-size:4rem;
 }
.rubrique{
    width:78%;
    height:50%;
    border-radius: 140px 140px 140px 140px / 140px 140px 140px 140px;
    border-style:solid;
    border-color: black;
}
.cardInvisible{
    background:none;
    border:none;
}

.titre{
    font-size: 5rem;
    color:#e4e2dd;
}

.textVert{
color: #749a7e;
font-size:x-large;
font-weight: 700;
}

/* RUBRIQUE ET SOUS RUBRIQUE  */

.titreBlanc{
    color: #e4e2dd;
    font-size:xx-large;
    font-weight: 900;
    font-size:4rem;

}
.textBlanc{
    color: #e4e2dd;
    font-size:xx-large;
    font-weight: 900;

}
.btnAjoutPanier{
background-color: #e4e2dd;
border-radius: 140px 140px 140px 140px / 140px 140px 140px 140px;
font-weight: 900;
font-size:large;
color: black;
}
/* ca ne fonctionne que quand je mets la fleche sur le bouton, sinon le texte est gris */
.btnAjoutPanier:hover{
    color: black;
}
.carteRubrique{
background-color: #749a7e;
}
.bordureRonde{
    border-radius: 60px 60px 60px 60px / 60px 60px 60px 60px;

}
.imgSousRubrique{
    height: 30rem;
}
.cardInstrument{
    border-radius: 60px 60px 60px 60px / 60px 60px 60px 60px ;
    background-color:#749a7e;
}
/* INSTRUMENT */

.titreInstrument{
    color: #e4e2dd;
    font-size: x-large;
    font-weight:900;
}
.prixInstrument{
    color: #e4e2dd;
    font-size: xx-large;
    font-weight:900;
}
/* on change la proprieté bootstrap pour les btn */
/* :root{
    --bs-btn-color:black;
} */

/* formulaire */

.inputFormulaire{
    font-weight:900;
    border-radius:100px 100px 100px 100px / 100px 100px 100px 100px;
    font-size: xx-large;
    background-color:#e4e2dd;
}
.inputFormulaire:focus{
    background-color:#e4e2dd;

}
.btnFormulaire{
    color:#749a7e;
    background-color:#e4e2dd;
    border-radius:100px 100px 100px 100px / 100px 100px 100px 100px;
    font-weight: 900;
    font-size:x-large;

}
.lienInscription{
    color:#749a7e;
    font-size:xx-large;
}
.lienMdp{
    color:black;
    font-size: large; 
}
.lienPdC{
    color:black;
    font-size: x-large; 
}
.radio{
    background-color:#e4e2dd;
}
.indicationMpd{
    color:black;
}
/* LES MESSAGES D'ERREUR */

.messageErreur{
    color:#801818;
    font-size:x-large;
}
li::marker{
    color:#801818;
}
/* .messageErreur{
    color:red;
} */

/* PROFIL */

.btnCompte{
    background-color: #e4e2dd;
    color: #749a7e;
    font-weight:900;
    font-size: xx-large;
    border-radius: 90px 90px 90px 90px / 90px 90px 90px 90px;
}
.btnDeconnexion{
    background-color:#152927;
    color: #749a7e;
    font-weight:900;
    font-size: xx-large;
    border-radius: 90px 90px 90px 90px / 90px 90px 90px 90px;
}

.silhouette{
    height:45rem;
}

/* FOOTER */

.textFooter{
    font-size: large;
    font-weight: 600;
    color:#e4e2dd;

}
.sousTitre{
    font-size: xx-large;
}
.sousSousTitre{
    font-size: x-large;
}
