{% extends 'base.hmtl.twig' %}
{% block body %}
<div class="row">
<img alt="silhouette de saxophoniste" src='{{asset('silhouette.avif')}}' class="img-fluid col-4">
<h1 class="sousTitre text-center my-5 col-4">Green Village vous remercie d'avoir validé votre inscription !</h1>
</div>
{% endblock %}