{% extends 'base.html.twig' %}
{% block body %}
<div class="row mt-3">
<img alt="silhouette de saxophoniste" src='{{asset('image/icone/silhouette.avif')}}' class="img-fluid col-4 silhouette ">
<div class="mt-5 col-7">
<h1 class="titre text-center mt-5 ">Green Village vous remercie d'avoir validé votre inscription!</h1>
</div>
</div>
{% endblock %}