<h1>Bonjour {{ email.toName }}!</h1>

<p>
    Vous vous êtes inscrit sous le pseudo de {{ username }} avec l'email suivant:
</p>
<p><code>{{ email.to[0].address }}</code></p>
<p> Veuillez activer votre compte s'il vous plaît, en cliquant sur le lien suivant :</p>
<p>
    <a href="#">Activer mon compte</a>
    (ce lien est valable jusqu'à {{ expiration_date|date('F jS') }})
</p>