<h1>Bonjour {{ name }}!</h1>

<p>
    Vous vous êtes inscrit avec l'email suivant:
</p>
<p><code>{{ email.to[0].address }}</code></p>
<p> Veuillez activer votre compte s'il vous plaît, en cliquant sur le lien suivant :</p>

    <a href="{{ signedUrl|raw }}">J'active mon compte</a>
  <p>  (ce lien est valable jusqu'à {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }})</p>