{% extends 'base.html.twig' %}
{% block body %}

{# <div> Nos {{ rubrique.libelle }}</div> #}
<div class="text-center my-5"><h2 class="titre"> Nos Instruments à cordes</h2></div>
    <div class="d-flex justify-content-center w-100">
        <div class=" row justify-content-between  col-9"> 
           <a class="btn col-3 mx-2 my-3 " href="" type="button"> 
                <div class="card cardInvisible ">
                    <div class="card-header cardInvisible text-center">
                        <h2>Les pianos</h2>
                    </div>
                    <div class="card-img ">
                        <img class="img-fluid" alt="piano" src="instrument/1piano.png">
                    </div>
                </div>
            </a>
            <div class="card cardInvisible col-3 mx-2 my-3">
                <div class="card-header">
                    <h2>piano</h2>
                </div>
                <div class="card-img">
                    <img class="img-fluid" alt="piano" src="instrument/1piano.png">
                </div>
            </div>
            <div class="card cardInvisible col-3 mx-2 my-3">
                <div class="card-header">
                    <h2>piano</h2>
                </div>
                <div class="card-img">
                    <img class="img-fluid" alt="piano" src="instrument/1piano.png">
                </div>
            </div>
            <div class=" card cardInvisible col-3 mx-2 my-3">
                <div class="card-header">
                    <h2>piano</h2>
                </div>
                <div class="card-img">
                    <img class="img-fluid" alt="piano" src="instrument/1piano.png">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}