{% extends 'base.html.twig' %}
{% block body %}

{# <div> Nos {{ rubrique.libelle }}</div> #}
<div class="text-center my-4"><h2 class="titreMeilleureVente"> Nos Instruments à cordes</h2></div>
    <div class="d-flex">
        <div class="justify-content-center flex-row col-9 "> 
            <div class="card col-3 mx-3">
                <div class="card-header">
                    <h2>piano</h2>
                </div>
                <div class="card-img ">
                    <img class="img-fluid" alt="piano" src="instrument/1piano.png">
                </div>
            </div>
            <div class="card col-3 mx-3">
                <div class="card-header">
                    <h2>piano</h2>
                </div>
                <div class="card-img">
                    <img class="img-fluid" alt="piano" src="instrument/1piano.png">
                </div>
            </div>
            <div class="card col-3 mx-3">
                <div class="card-header">
                    <h2>piano</h2>
                </div>
                <div class="card-img">
                    <img class="img-fluid" alt="piano" src="instrument/1piano.png">
                </div>
            </div>
            <div class="card col-3 mx-3">
                <div class="card-header">
                    <h2>piano</h2>
                </div>
                <div class="card-img">
                    <img class="img-fluid" alt="piano" src="instrument/1piano.png">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}